.player {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.player__bet {
  margin-bottom: 10px;
}

.player__money {
  margin-bottom: 10px;
}

.player__stack {
  width: 96px;
  transition: @transition-duration ease;
}

.player__buttons {
  display: flex;
  justify-content: flex-end;
}

@media (max-height: 567px) {
  .player {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }

  .player__money {
    order: 1;

    margin-bottom: 0;
  }

  .player__buttons {
    order: 2;

    width: 96px;
  }
}
