.player {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player__bet {
  margin-bottom: 10px;
}

.player__money {
  margin-bottom: 20px;
}

.player__stack {
  box-sizing: border-box;

  display: flex;
  flex-wrap: wrap;

  transition: @transition-duration ease;
}

.player__buttons {
}
