.settings {
  background-color: #006400;
  background-image: url("../img/blackjack.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  box-shadow: 0 4px 10px 2px #333;
}

.settings__form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.settings__start {
  margin-top: 20px;
}

.settings__info {

}
