#foo {
  width: 100px;
  height: 100px;
  background: red;
}

html {
  height: 100%;

  overflow: hidden;
}

.body {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: 100%;
  min-width: 320px;
  min-height: 320px;
  margin: 0;
  padding: 0;

  font-style: normal;
  font-size: @font-size;
  font-weight: normal;
  font-family: @font;
  color: @font-color;
  line-height: @line-height;

  background-image: @background;
  overflow: hidden;

  &--brown {
    background-color: #3c1313;
    background-image: none;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.button {
  box-sizing: border-box;
  position: relative;
  overflow: hidden;

  min-width: 114px;
  padding: 10px;

  color: #ffffff;
  text-transform: capitalize;

  background-image: linear-gradient(45deg, @button-background-from, @button-background-to);
  border: 1px solid #290c04;
  border-radius: 5px;
  box-shadow: 0 0 2px 0 #000;
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;

    width: 200%;
    height: 100%;

    background-image: linear-gradient(45deg, transparent 30%, rgba(255, 255, 250, 0.5), transparent 70%);
    transform: translateX(-50%);
  }

  &:hover::after,
  &:focus::after {
    animation: button-hover 0.4s linear;
    animation-fill-mode: forwards;
  }

  &--start {
    margin-top: 16px;
  }

  &--start:hover::after,
  &--start:focus::after {
    animation-duration: 0.6s;
  }

  &--player {
    min-width: 65px;
    margin: 0 0 10px;
    padding: 6px;

    font-size: 12px;

    border-radius: 2px;
  }
}

.hide {
  display: none;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  box-sizing: border-box;
  width: 100%;
  max-width: 767px;
  margin: 0 auto;
  padding: 0 6.25%;
}

.opacity-1 {
  opacity: 1;
}

.z-index {
  z-index: 10;
}

.z-index-1 {
  z-index: -1;
}

@media (min-width: @tablet-width) {
  .container {
    max-width: 1149px;
    padding: 0 6.51%;
  }
}

@media (min-width: @desktop-width) {
  .container {
    max-width: 1050px;
    padding: 0 50px;
  }
}

@keyframes button-hover {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(100%);
  }
}
